.main-container
  %h1 Monthly Activity Sheet
  .navigation-lists
    .list-group
      %li.list-group-item.list-group-font
        = image_tag("arrow.png", :alt=>"arrow", :class => "arrow")
        = link_to "Show Monthly Activity Sheet ", monthly_activity_sheets_path, class: "list-group-font"

  .add-employee-project-table
    = form_for(@monthly_activity) do |p|
      .project-list-selectbox

        = select_tag "month_id", options_from_collection_for_select(@months_fetch_result, "id", "month_year")

        = select_tag "project_id", options_from_collection_for_select(@projects_fetch_result, "id", "project_name"),
        :onchange => "employee_project_select_result_list('#{fetch_assign_employees_to_project_selected_monthly_activity_sheets_path}');"

        = p.submit "Submit"
      #result-list.employee-list
  .cls