<div class="main-container">
  <div class="company-logo">
    <%= image_tag("relyonlogo.png", :alt=>"relyon", :class => "company-logo-style") %>
  </div>

  <div class="form-signin">

      <%= form_for(@user) do |f|%>
        <%= render 'shared/error_messages'%>

            <div class="form-fieldbox">
              <%= f.text_field :name, :class => "form-control",:placeholder => "User Name", :autofocus => true %>
            </div>

            <div class="form-fieldbox">
              <%= f.text_field :email, :class => "form-control",:placeholder => "Email address" %>
            </div>

            <div class="form-fieldbox">
              <%= f.password_field :password, :class => "form-control",:placeholder => "Password" %>
            </div>

            <div class="form-fieldbox">
               <%= f.password_field :password_confirmation, :class => "form-control",:placeholder => "Confirm Password" %>
            </div>

            <div class="form-button">
            <%= f.submit "Submit", :class=>"btn btn-lg btn-primary btn-block" %>
            </div>

    <% end %>
  </div>
</div>


