<div class="main-container">
  <h1>All Paymonths</h1>


  <div class="navigation-list">
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%=  link_to "Add new Paymonth", new_paymonth_path %></li>
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%= link_to "Show All Employees", employees_path%></li>
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%= link_to "Show All Projects", projects_path%></li>
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%=  link_to "Show Monthly Activity Sheet ", monthly_activity_sheets_path %></li>
  </div>

  <div class="employees-list">
    <table>
      <tr>
        <th>Paymonth</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Options</th>

      </tr>

      <% @paymonth.each do |pmonth| %>
          <tr>
            <td><%= link_to pmonth.month_year, pmonth %></td>
            <td><%= link_to pmonth.from_date, pmonth %></td>
            <td><%= link_to pmonth.to_date, pmonth %></td>
            <td><%= link_to "show", pmonth%>
              <%= link_to "edit", edit_paymonth_path(pmonth) %>
              <%= link_to "delete", pmonth, method: :delete,
                          data: { confirm: "You sure?" } %>

            </td>
          </tr>
      <% end %>

    </table>

  </div>

  <div class="cls"></div>
</div>







