<div class="main-container">
  <h1>New Project</h1>

  <div class="navigation-list">
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%= link_to "Show All Employees", employees_path%></li>
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%= link_to "Show All Paymonths", paymonths_path%></li>
    <li><%= image_tag("arrow.png", :alt=>"arrow", :class => "arrow") %><%= link_to "Show All Projects", projects_path%></li>
  </div>

  <div class="employees-list">

  <div class="signup-form">

    <%= form_for(@project) do |f|%>
        <%= render 'shared/error_messages'%>
        <div class="form-label">
          <%= f.label :project_name %>
        </div>
        <div class="form-fieldbox">
          <%= f.text_field :project_name %>
        </div>

        <div class="form-label">
          <%= f.label :project_commence_date %>
        </div>
        <div class="form-fieldbox">
          <%= f.text_field :project_commence_date %>
        </div>


        <div class="form-label">
          <%= f.label :project_completion_date %>
        </div>
        <div class="form-fieldbox">
          <%= f.text_field  :project_completion_date %>
        </div>

        <div class="form-button">
          <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>

    <% end %>
  </div>
  </div>

  <div class="cls"></div>
</div>
