%footer.main-footer
  -if signed_in?
    .sub-footer
      = link_to "Employees", employees_url
      |
      = link_to "Projects", projects_url
      |
      = link_to "Paymonths", paymonths_url
  -else
    .sub-footer
      = link_to "Signup", root_url
      |
      = link_to "Login", new_session_url